@font-face {
    font-family: AloneTogether;
    src: url(./AloneTogether.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: italic;
    overflow-x: hidden;
}

main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    font-family: Arial, Helvetica, sans-serif;

    header {
        width: 100%;
        height: 100%;
        padding: 1rem;
        background-image: url(./img1.jpg);
        background-size: cover;
        background-position: center;

        nav {
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            .top {
                img {
                    width: 4.5rem;
                    filter: brightness(2) contrast(1.5) saturate(1.5);
                }

            }

            // .bottom {
            //     display: flex;
            //     gap: 3rem;
            //     align-items: center;

            //     a {
            //         text-decoration: none;
            //         color: white;
            //     }

            //     button {
            //         cursor: pointer;
            //         padding: 0.6rem 0.8rem;
            //         font-size: 1rem;
            //         background-color: #ff4b0a;
            //         color: white;
            //         border-radius: 1.3rem;
            //         border: none;
            //         transition: all ease 0.8s;
            //     }

            //     button:hover {
            //         color: black;
            //         background-color: #ff7c4d;
            //     }

            //     button:active {
            //         background-color: #ff4b0a;
            //     }
            // }
        }

        section.main {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            h2 {
                font-family: AloneTogether;
                color: #ff4b0a;
                font-size: 1.8rem;
            }

            h1 {
                color: white;
                font-size: 2.3rem;
            }

            p {
                margin: 0.5rem;
                text-align: center;
                color: white;
                font-size: 1.1rem;
                line-height: 1.3;
            }

            .btn-fst {
                padding: 0.6rem 1.2rem;
                border-radius: 0.5rem;
                border: none;
                font-size: 0.9rem;
                cursor: pointer;
                transition: all ease 0.8s;
            }

            .btn-fst:hover {
                color: white;
                background-color: black;
            }

            .btn-fst:active {
                background-color: white;
                color: black;
            }

            .icon {
                margin-top: 0.5rem;

                .btn-sec {
                    display: flex;
                    flex-direction: column;
                    gap: 0.1rem;
                    background-color: hsl(0, 0%, 65%);
                    border: none;
                    padding: 0.4rem 0.4rem;
                    border-radius: 30%;
                    cursor: pointer;
                    transition: all ease 0.6s;
                }

                .btn-sec:hover {
                    background-color: hsl(0, 0%, 80%);
                }

                .ri-arrow-down-long-fill {
                    font-size: 1rem;
                }

                .ri-checkbox-blank-circle-fill {
                    font-size: 0.6rem;
                }
            }
        }
    }

    section.view1 {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .top-left {
            padding: 1rem;
            width: 100%;
            // background-color: darkcyan;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h2 {
                color: #ff4b0a;
                font-family: AloneTogether;
            }

            h1 {
                font-family: AloneTogether;
            }

            button {
                cursor: pointer;
                padding: 0.6rem 0.8rem;
                font-size: 1rem;
                background-color: #ff4b0a;
                color: white;
                border-radius: 1.3rem;
                border: none;
                transition: all ease 0.8s;
                margin: 0.7rem;
            }

            button:hover {
                color: black;
                background-color: white;
                border: 1.5px solid black;
            }
        }

        .top-right {
            overflow: hidden;
            padding: 1rem;
            width: 100%;
            background-image: url(./img2.jpg);
            aspect-ratio: 1/0.8;
            background-size: cover;
            background-position: center;
        }

        .bottom-left {
            overflow: hidden;
            padding: 1rem;
            width: 100%;
            background-image: url(./img3.jpg);
            aspect-ratio: 1/0.8;
            background-size: cover;
            background-position: center;
        }

        .bottom-right {
            padding: 1rem;
            width: 100%;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h2 {
                color: #ff4b0a;
                font-family: AloneTogether;
            }

            h1 {
                font-family: AloneTogether;
            }

            button {
                cursor: pointer;
                padding: 0.6rem 0.8rem;
                font-size: 1rem;
                background-color: #ff4b0a;
                color: white;
                border-radius: 1.3rem;
                border: none;
                transition: all ease 0.5s;
                margin: 0.7rem;
            }

            button:hover {
                color: black;
                background-color: white;
                border: 1.5px solid black;
            }
        }

    }

    section.view2 {
        width: 100%;
        padding: 1rem;
        background-color: #ffbdbd;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;


        h2 {
            font-family: AloneTogether;
            color: #ff4b0a;
            font-size: 1.3rem;
        }

        h1 {
            text-align: center;
            color: white;
            font-size: 2rem;
        }

        p {
            margin: 0.5rem;
            text-align: center;
            color: white;
            font-size: 1.1rem;
            line-height: 1.3;
        }

        button {
            cursor: pointer;
            padding: 0.6rem 0.8rem;
            font-size: 1rem;
            background-color: #ff4b0a;
            color: white;
            border-radius: 1.3rem;
            border: none;
            transition: all ease 0.8s;
            margin: 0.7rem;
        }

        button:hover {
            color: black;
            background-color: white;
        }

        button:active {
            background-color: #ff4400;
            color: white;
        }
    }

    section.view3 {
        display: flex;
        flex-direction: column;
        width: 100%;

        .top {
            padding: 1rem;
            width: 100%;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .headings {
                display: flex;
                flex-direction: column;

                h2 {
                    color: #ff4b0a;
                    font-family: AloneTogether;
                    align-self: flex-end;
                    margin-left: 8rem;
                    font-size: 1.2rem;
                }

                h1 {
                    font-style: italic;
                    font-family: AloneTogether;
                    font-size: 1.8rem;
                }
            }

            p {
                font-size: 1.1rem;
                text-align: center;

            }

            button {
                cursor: pointer;
                padding: 0.6rem 0.8rem;
                font-size: 1rem;
                background-color: #ff4b0a;
                color: white;
                border-radius: 1.3rem;
                border: none;
                transition: all ease 0.8s;
                margin: 0.7rem;
            }

            button:hover {
                color: black;
                background-color: white;
            }
        }

        .bottom {
            width: 100%;

            img {
                width: 100%;
                object-fit: cover;
                object-position: center;
                height: 350px;
            }
        }
    }

    section.view4 {
        width: 100%;

        .cards {
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 0.3rem;

            .card1,
            .card3,
            .card4 {
                border-radius: 0.3rem;
                width: 100%;

                img {
                    border-radius: 0.3rem;
                    height: 300px;
                    width: 100%;
                    display: block;
                    object-fit: cover;
                    object-position: center;
                }
            }

            .card2 {
                width: 100%;
                height: 300px;
                border-radius: 0.3rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: #ffbdbd;

                i {
                    opacity: 0.7;
                    font-size: 1.3rem;
                    width: fit-content;
                    padding: 0.4rem;
                    background-color: grey;
                    cursor: pointer;
                    border-radius: 0.4rem;
                }

                h2 {
                    font-family: AloneTogether;
                }
            }
        }
    }

    section.view5 {
        display: flex;
        flex-direction: column;
        background-color: #343434;
        color: #989898;
        padding: 0.8rem;
        gap: 0.5rem;

        .first {
            padding: 0rem 2.1rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h3 {
                color: white;
                font-family: AloneTogether;

                span {
                    font-size: 1.4rem;
                    color: #ff4400;
                }
            }

            p {
                font-size: 1rem;
                padding: 0rem 0.8rem;
            }

            button {
                margin: 0.4rem 0.9rem;
                padding: 0.3rem 0.4rem;
                border-radius: 1rem;
                border: none;
                transition: all 0.8s ease;
                cursor: pointer;
            }

            button:hover {
                color: white;
                background-color: black;
                border: 1px solid white;
            }

        }

        .second {
            padding: 0rem 2.1rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .top {
                h4 {
                    color: white;
                    font-size: 1.2rem;

                    span {
                        color: #ff4400;
                    }
                }
            }

            .bottom {
                margin: 0.2rem;
                display: flex;

                p {
                    font-size: 1rem;
                    padding: 0rem 0.8rem;
                }
            }
        }

        .three {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .top {
                h4 {
                    color: white;
                    font-size: 1rem;

                    span {
                        color: #ff4400;
                    }
                }
            }
        }

        .four {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .top {
                h4 {
                    color: white;
                    font-size: 1rem;

                    span {
                        color: #ff4400;
                    }
                }
            }

            .bottom {
                display: flex;
                flex-direction: column;
                gap: 0.35rem;

                i {
                    color: #e1e1e1;
                    font-size: 1.1rem;
                }
            }
        }
    }

}

@media (min-width: 800px) {
    main {
    // header {}

    section.view1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    section.view3 {
        flex-direction: row;
        gap: 0.1rem;

        .top {
            background-color: #d7d7d7;
        }

        .bottom {
            img {
                height: 500px;
            }
        }
    }

    section.view4 {

        .cards {
            flex-direction: row;
        }
    }

    section.view5 {
        flex-direction: row;
    }

    }
}